{namespace bwrk=BERGWERK\BwrkAddress\ViewHelpers}

<f:layout name="General"/>

<f:section name="Content">

    <f:alias map="{
        phone: '{bwrk:address.entry(address:\'{address}\',entryType:\'phone\')}',
        fax: '{bwrk:address.entry(address:\'{address}\',entryType:\'fax\')}',
        mail: '{bwrk:address.entry(address:\'{address}\',entryType:\'mail\')}',
        website: '{bwrk:address.entry(address:\'{address}\',entryType:\'website\')}',
        country: '{bwrk:address.entry(address:\'{address}\',entryType:\'country\')}',
        city: '{bwrk:address.entry(address:\'{address}\',entryType:\'city\')}',
        zip: '{bwrk:address.entry(address:\'{address}\',entryType:\'zip\')}',
        streetAddress: '{bwrk:address.entry(address:\'{address}\',entryType:\'street_address\')}',
        note: '{bwrk:address.entry(address:\'{address}\',entryType:\'note\')}',
        mediaGallery: '{bwrk:address.entry(address:\'{address}\',entryType:\'media_gallery\')}',
        downloads: '{bwrk:address.entry(address:\'{address}\',entryType:\'downloads\')}'
    }">

        <div class="address-detail">

            <div class="address__item">

                <div class="address__item-title">
                    <h1>{address.title}</h1>
                </div>

                <f:render partial="Address/Entries" arguments="{address:address,entries:phone}" />
                <f:render partial="Address/Entries" arguments="{address:address,entries:fax}" />
                <f:render partial="Address/Entries" arguments="{address:address,entries:mail}" />
                <f:render partial="Address/Entries" arguments="{address:address,entries:website}" />
                <f:render partial="Address/Entries" arguments="{address:address,entries:country}" />
                <f:render partial="Address/Entries" arguments="{address:address,entries:city}" />
                <f:render partial="Address/Entries" arguments="{address:address,entries:zip}" />
                <f:render partial="Address/Entries" arguments="{address:address,entries:streetAddress}" />
                <f:render partial="Address/Entries" arguments="{address:address,entries:note}" />
                <f:render partial="Address/Entries" arguments="{address:address,entries:mediaGallery}" />
                <f:render partial="Address/Entries" arguments="{address:address,entries:downloads}" />

            </div>

        </div>

    </f:alias>


</f:section>