<div class="address-list__item">

    <div class="address-list__item-title">
        <h3>{address.title}</h3>
    </div>

    <div class="address-list__item-entries">

        <f:for each="{address.entries}" as="addressEntry">
            <f:if condition="{addressEntry.entryType.showOnlyDetail} == 0">

                <div class="address-list__item-entry--{addressEntry.entryType.key}">
                    <f:render partial="Address/EntryType/{addressEntry.entryType.keyUpper}" arguments="{address:address, addressEntry:addressEntry}" />
                </div>

            </f:if>
        </f:for>

    </div>

</div>